
.regular-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    color: #0C0C3D;
}

body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    min-width: 1600px;
    max-width: 1600px;
}

.header {
    height: 144px;
    padding: 24px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav-line {
    height: 46px;
    display: flex;
    margin-bottom: 22px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    box-sizing: border-box;
    display: flex;
    width: 128px;
    cursor: pointer;
    justify-content: space-between;
    padding-right: 7px;
}


.title {
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    max-width: 75px;
    margin: auto 0;
}


.search-form {
    border: 1px solid #CFD7DC;
    border-radius: 8px;
    display: flex;
    width: 892px;
    height: 100%;
    align-items: center;
    padding: 0 12px;
}

.search-input {
    background: none;
    width: 100%;
    border: #CFD7DC;
    align-items: center;
    line-height: 28px;
    color: #5D647D;
    display: inline-block;
    z-index: 1;
}

.search-btn {
    height: 17px;
    width: 17px;
    display: inline-block;
    z-index: 2;
    margin-right: 13px;
}

.nav-btns {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-button {
    display: flex;
    align-items: center;
    height: 100%;
    background: #DCF6F4;
    border-radius: 8px;
    padding-left: 19px;
    padding-right: 24px;
    margin-right: 12px;
}

.nav-button:last-child {
    margin-right: 0;
}

.btn-text {
    color: #27ACA1;
    font-weight: 600;
}

.nav-btn-image {
    width: 20px;
    margin-right: 12px;
}

/*HEADER SECOND LINE*/

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    cursor: pointer;
    margin-right: 32px;
    transition: .2s;
}

.nav-link:hover {
    color: #27ACA1;
}

.nav-link:active {
    color: #04665E;
}

.nav-link:last-child {
    margin-right: 0;
}

.contacts, .contact-link {
    display: flex;
}


.contact-image {
    margin-right: 8px;
}

/* ABOUT US */

.about {
    margin-top: 64px;
}

.about-title {
    font-size: 64px;
    font-weight: 800;
    line-height: 76px;
    margin-bottom: 32px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    font-size: 22px;
    line-height: 36px;
    height: 100%;
    margin-right: 64px;
}

.about-text p {
    margin-bottom: 20px;
}

.about-licenses {
    display: flex;
    align-items: center;
}

.license {
    background: #F6F8FA;
    height: 100%;
    min-height: 513px;
    width: 360px;
    border-radius: 16px;
    margin-right: 32px;
    text-align: center;
}

.license-img {
    display: block;
    width: 268px;
    height: 375px;
    margin: 54px auto 16px auto;
}

.license:last-child {
    margin-right: 0;
}

.img-detail {
    color: #27ACA1;
    font-weight: 600;
    transition: .2s;
}

.img-detail:hover {
    color: #32BCB1;
}

/* DIRECTION SECTION */

.regular-title {
    color: #0C0C3D;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    font-family: 'Inter', sans-serif;
}

.direction-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    margin-top: 32px;
}

.direction-item {
    width: 784px;
    height: 96px;
    box-sizing: border-box;
    padding: 0 18px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: #F6F8FA;
}

.more-btn {
    display: block;
    padding: 16px 32px;
    color: #27ACA1;
    background: white;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    transition: .2s;
    border-radius: 8px;
}

.more-btn:hover {
    color: #32BCB1;
}

.direction-text {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}

/* RESOURCES */

.info-block {
    margin-top: 80px;
}


.resource-title {
    display: flex;
    align-items: center;
}

.resource-img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

/* COOPERATION */

.cooperation-options {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.option {
    width: 512px;
}

.opt-img {
    height: 246px;
    border-radius: 16px;
    margin-bottom: 8px;
}

/* TEAM */

.team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
}


.person-bg {
    display: block;
    width: 376px;
    height: 380px;
    margin-top: 80px;
    border-radius: 16px;
    background: #F6F8FA;
    padding: 96px 32px 0 32px;
    box-sizing: border-box;
    position: relative;
}

.person-card {
    margin-top: 32px;
}

.person-img {
    position: absolute;
    left: 32px;
    top: -80px;
    width: 160px;
    z-index: 1;
}

.person-name {
    line-height: 32px;
    font-weight: 500;
    font-size: 24px;
    word-spacing: 2000px;
}

.person-position {
    margin-top: 16px;
    color: #5D647D;
}

.person-phone {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 32px;
}

.person-email {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 72px;
    left: 32px;
}

.person-code {
    margin-left: 5px;
    font-weight: 600;
}

/* PARTNERS */

.partner-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}


.rail-container {
    margin: 0 auto;
    width: 1920px;
    overflow: hidden;
    height: 100px;
    cursor: pointer;
}

.rail {
    display: flex;
    height: 100px;
}

.rail-item {
    height: 100px;
    margin-right: 64px;
}


/* ADDITIONAL INFO */

.pair-info {
    width: 100%;
    display: flex;
}

.edu-info {
    width: 784px;
    margin-right: 169px;
}

.info-links {
    margin-top: 32px;
}

.info-link {
    display: block;
    margin-bottom: 12px;
    color: #27ACA1;
    font-weight: 600;
}

.info-link:hover {
    color: #32BCB1;
}

.sponsors {
    justify-content: space-between;
    margin-top: 32px;
}

.sponsor {
    display: block;
    height: 100px;
    margin-bottom: 64px;
}

.sponsor:last-child {
    margin-bottom: 0;
}


/* SUBSCRIBE TO MAILING */

.subscribe {
    display: flex;
    background: #F6F8FA;
    height: 336px;
    margin-bottom: 80px;
    margin-top: 80px;
    border-radius: 32px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: space-between;
}

.form-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.subscribe-input {
    height: 60px;
    width: 100%;
    background: transparent;
    border: 1px solid #CFD7DC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #5D647D;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.subscribe-input:last-child {
    margin-bottom: 0;
}


.submit-sub-btn {
    width: 100%;
    display: block;
    color: #27ACA1;
    font-weight: 600;
    text-align: center;
    background: white;
    border-radius: 8px;
    padding: 16px 0;
    cursor: pointer;
}

.line {
    width: 1px;
    height: 100%;
    background: #CFD7DC;
}

.messages {
    padding: 0 0 32px 32px;
}

.msg-img {
    width: 700px;
}

/* FOOTER */

.footer {
    margin-top: auto;
    height: 352px;
    background: #F8FBFE;
    display: flex;
    align-items: center;
}

.footer-image {
    width: 20px;
    margin-right: 8px;
}

.footer-inner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.footer-phone {
    display: flex;
    align-items: center;
}

.footer-contact {
    margin-top: 26px;
}

.footer-contact-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #27ACA1;
}

.footer-resources {
    display: flex;
    align-items: center;
    width: 276px;
    justify-content: space-between;
}

.address {
    margin-top: 26px;
}

.map-btn {
    display: block;
    border-radius: 8px;
    margin-top: 26px;
    padding: 9px 24px;
    background: #DCF6F4;
    color: #27ACA1;
    text-align: center;
    transition: .2s;
}

.map-btn:hover {
    color: #04665E
}

.footer-link {
    display: block;
    margin-bottom: 16px;
    color: #27ACA1;
    font-weight: 600;
}

.footer-link:last-child {
    margin-bottom: 0;
}

