{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>
        FullStackTask
    </title>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="nav-line">
                    <div class="logo">
                        <img src="{% static 'main/img/Logo.svg' %}" alt="Logo">
                        <div class="title">
                            Grand School
                        </div>
                    </div>
                    <form class="search-form" action="">
                        <input type="image" class="search-btn" src="{% static 'main/img/Button_Search.svg' %}"
                               alt="search">
                        <input class="regular-text search-input" placeholder="Поиск по сайту" type="text" name="search"
                               alt="search bar">
                    </form>
                    <div class="nav-btns">
                        <a class="nav-button" href="#">
                            <img class="nav-btn-image" src="{% static 'main/img/Person.svg' %}" alt="">
                            <div class="regular-text btn-text">Регистрация и вход</div>
                        </a>
                        <a class="nav-button" href="#">
                            <img class="nav-btn-image" src="{% static 'main/img/Phone.svg' %}" alt="">
                            <div class="regular-text btn-text">Заказать звонок</div>
                        </a>
                    </div>
                </div>

                <div class="nav-items">
                    <div class="nav-links">
                        <a href="#" class="regular-text nav-link">О нас</a>
                        <a href="#" class="regular-text nav-link">Юридические услуги</a>
                        <a href="#" class="regular-text nav-link">Вебинары</a>
                        <a href="#" class="regular-text nav-link">Курсы</a>
                        <a href="#" class="regular-text nav-link">Статьи</a>
                        <a href="#" class="regular-text nav-link">Партнёрство</a>
                        <a href="#" class="regular-text nav-link">Новости</a>
                        <a href="#" class="regular-text nav-link">СДО</a>
                    </div>

                    <div class="contacts">
                        <a href="#" class="nav-link contact-link">
                            <img class="contact-image" src="{% static 'main/img/Mail.svg' %}" alt="">
                            <div class="regular-text">info@grandschool.net</div>
                        </a>
                        <a href="#" class="nav-link contact-link">
                            <img class="contact-image" src="{% static 'main/img/BlackPhone.svg' %}" alt="">
                            <div class="regular-text">8 800 333-15-43</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="about">
        <div class="container">
            <div class="regular-text about-title">О нас</div>
            <div class="about-content">
                <div class="regular-text about-text">
                    <p>Один из ведущих учебных центров России. Работаем с 2006 года, за это время обучили больше 10 000
                        человек
                        по 60 образовательным программам.</p>

                    <p>Наши спикеры — профессиональная команда экспертов, специалистов и практиков, общение с которыми
                        позволит
                        вам не только получить полезные знания, но и перенять многолетний опыт.</p>
                    <p>Официальный партнёр «Международного учебно-методического центра финансового мониторинга»
                        (МУМЦФМ).</p>
                    <p>Мы предлагаем пути решения проблем с практической точки зрения, не ограничиваясь теорией и сухим
                        законодательством.</p>
                    Обучаясь в «Grand School» вы приобретаете реальный опыт, который поможет преуспеть в работе и
                    бизнесе.
                </div>
                <div class="about-licenses">
                    <div class="license">
                        <img class="license-img" src="{% static 'main/img/license1.png' %}" alt="">
                        <a href="#" class="regular-text img-detail">Лицензия в полном размере →</a>
                    </div>
                    <div class="license">
                        <img class="license-img" src="{% static 'main/img/license2.png' %}" alt="">
                        <a href="#" class="regular-text img-detail">Соглашение с МУМЦФМ →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="regular-title">Направление деятельности</div>

            <div class="direction-items">
                {% include 'direction.html' with name="Дистанционное обучение" %}
                {% include 'direction.html' with name="Юридическое сопровождение" %}
                {% include 'direction.html' with name="Аттестация" %}
                {% include 'direction.html' with name="Разработка документации" %}
                {% include 'direction.html' with name="Вебинары" %}
                {% include 'direction.html' with name="Лицензирование" %}
            </div>
        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="regular-title">Сотрудничаем любым удобным способом</div>

            <div class="cooperation-options">
                {% include 'coopration_option.html' with image='main/img/opt1.png' name='Онлайн-заявка →' %}
                {% include 'coopration_option.html' with image='main/img/opt2.png' name='Звонок нам →' %}
                {% include 'coopration_option.html' with image='main/img/opt3.png' name='Посещение офиса →' %}
            </div>

        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="regular-title">Наши ресурсы</div>

            <div class="direction-items">
                {% include 'resource.html' with image='main/img/TG.png' name="Telegram" %}
                {% include 'resource.html' with image='main/img/Zen.png' name="Дзен" %}
                {% include 'resource.html' with image='main/img/VK.png' name="ВКонтакте" %}
                {% include 'resource.html' with image='main/img/YT.png' name="YouTube" %}
                {% include 'resource.html' with image='main/img/Grand.png' name="GrandClass.net" %}
            </div>
        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="regular-title">Наша команда</div>
            <div class="team">
                {% include 'person_card.html' with avatar='main/img/team/Avatar1.png' name="Ирина Тумашова" position="Руководитель отдела консалтинга" email="i.kolesova@grandschool.net" phone="8 800 333-15-43" code="478" %}
                {% include 'person_card.html' with avatar='main/img/team/Avatar2.png' name="Владимир Сущенко" position="Менеджер по работе с клиентами отдела консалтинга" email="v.sushchenko@grandschool.net" phone="8 800 333-15-43" code="477" %}
                {% include 'person_card.html' with avatar='main/img/team/Avatar3.png' name="Максим Юнчис" position="Менеджер проектов отдела консалтинга" email="m.yunchis@grandschool.net" phone="8 800 333-15-43" code="475" %}
                {% include 'person_card.html' with avatar='main/img/team/Avatar4.png' name="Татьяна Долина" position="Ведущий юрист отдела консалтинга" email="t.dolina@grandschool.net" phone="8 800 333-15-43" code="479" %}
                {% include 'person_card.html' with avatar='main/img/team/Avatar5.png' name="Олеся Михальцова" position="Юрист отдела консалтинга" email="o.mikhaltsova@grandschool.net" phone="8 800 333-15-43" code="476" %}
                {% include 'person_card.html' with avatar='main/img/team/Avatar6.png' name="Ульяна Ванеева" position="Директор ЧОУ ДПО «Гранд Скул»" phone="8 800 333-15-43" code="475" %}
            </div>
        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="partner-title">
                <div class="regular-title">С нами работают</div>
                <a href="#" class="regular-text img-detail">Стать партнёром →</a>
            </div>
        </div>
        <div class="rail-container">
            <div id="rail" class="rail">
                <img class="rail-item" src="{% static 'main/img/partners/Sber.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Gazprombank.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Gazprom.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Alfa.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Ural.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Tele2.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Polus.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Nornickel.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Floors.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Intraco.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Polymetal.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/KolRos.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Ural-1.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Nornickel-1.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Pochta.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/League.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Ozon.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Sunlight.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Guild.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Yakut.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Azot.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Magnit.png' %}" alt=""/>
                <img class="rail-item" src="{% static 'main/img/partners/Azot-1.png' %}" alt=""/>
            </div>
        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="pair-info">
                <div class="edu-info">
                    <div class="regular-title">Сведения об образовательной <br>организации</div>
                    <div class="info-links">
                        <a href="#" class="regular-text info-link">Учредительные документы →</a>
                        <a href="#" class="regular-text info-link">Место нахождения, режим, график работы и прочая
                            контактная информация →</a>
                        <a href="#" class="regular-text info-link">Структура →</a>
                        <a href="#" class="regular-text info-link">Устав →</a>
                        <a href="#" class="regular-text info-link">Свидетельство ОГРН →</a>
                        <a href="#" class="regular-text info-link">Свидетельство ИНН →</a>
                        <a href="#" class="regular-text info-link">Учредительные документы →</a>
                        <a href="#" class="regular-text info-link">Порядок приема, отчисления и восстановления
                            обучающихся →</a>
                        <a href="#" class="regular-text info-link">Положение об организации образовательного процесса
                            →</a>
                        <a href="#" class="regular-text info-link">Учредительные документы →</a>
                        <a href="#" class="regular-text info-link">Положение о контроле за санит.-эпид. Правилами →</a>
                        <a href="#" class="regular-text info-link">Учредительные документы →</a>
                        <a href="#" class="regular-text info-link">Учредительные документы →</a>
                        <a href="#" class="regular-text info-link">Учредительные документы →</a>
                    </div>
                </div>

                <div class="working-with">
                    <div class="regular-title">Работаем при поддержке</div>
                    <div class="sponsors">
                        <img class="sponsor" src="{% static 'main/img/sponsors/RFBank.png' %}" alt="">
                        <img class="sponsor" src="{% static 'main/img/sponsors/Sci.png' %}" alt="">
                        <img class="sponsor" src="{% static 'main/img/sponsors/Rosfin.png' %}" alt="">
                        <img class="sponsor" src="{% static 'main/img/sponsors/MUMCFM.png' %}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="info-block">
        <div class="container">
            <div class="subscribe">
                <form class="subscribe-form">
                    <div class="regular-text form-title">Читай нашу рассылку и будь в курсе новостей и скидок</div>
                    <div class="form-inputs">
                        <input class="regular-text subscribe-input" placeholder="Имя" type="text" name="fullname"
                               alt="name bar">
                        <input class="regular-text subscribe-input" placeholder="Электронная почта" type="text"
                               name="email"
                               alt="email bar">
                    </div>
                    <a class="regular-text submit-sub-btn">Подписаться</a>
                </form>
                <div class="line"></div>
                <div class="messages">
                    <img class="msg-img" src="{% static 'main/img/messages.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-contacts">
                    <div class="regular-text footer-title">Контакты</div>
                    <div class="footer-contact">
                        <img class="footer-image" src="{% static 'main/img/Phone.svg' %}" alt="">
                        <a href="#" class="regular-text footer-contact-text">8 800 333-15-43</a>
                    </div>
                    <div class="regular-text">Звонок по России бесплатный</div>
                    <div class="footer-contact">
                        <img class="footer-image" src="{% static 'main/img/GreenMail.svg' %}" alt="">
                        <a href="#" class="regular-text footer-contact-text">info@grandschool.net</a>
                    </div>
                </div>

                <div class="footer-resources">
                    <a href="#" class="footer-resource">
                        <img src="{% static 'main/img/Button.svg' %}" alt="">
                    </a>
                    <a href="#" class="footer-resource">
                        <img src="{% static 'main/img/Button-1.svg' %}" alt="">
                    </a>
                    <a href="#" class="footer-resource">
                        <img src="{% static 'main/img/Button-2.svg' %}" alt="">
                    </a>
                    <a href="#" class="footer-resource">
                        <img src="{% static 'main/img/Button-3.svg' %}" alt="">
                    </a>
                </div>

                <div class="footer-location">
                    <div class="regular-text footer-title">Центральный офис</div>
                    <div class="regular-text address">196084, г. Санкт-Петербург,<br>пр. Московский, д. 97, офис 507
                    </div>
                    <a href="#" class="regular-text map-btn">
                        Открыть Яндекс.Карты
                    </a>
                </div>

                <div class="footer-links">
                    <a href="#" class="regular-text footer-link">Реквизиты →</a>
                    <a href="#" class="regular-text footer-link">Договор оферта →</a>
                    <a href="#" class="regular-text footer-link">Пользовательское соглашение →</a>
                    <a href="#" class="regular-text footer-link">Политика конфиденциальности →</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>

<script type="text/javascript">

    const railCon = document.querySelector(".rail-container"),
        rail = document.getElementById("rail"),
        items = document.getElementsByClassName("rail-item");
    let mouseDown = false;
    let startX, scrollLeft, mDwnOntag;

    let startDragging = function (e) {
        railCon.style.scrollBehavior = "auto";
        mouseDown = true;
        startX = e.pageX - railCon.offsetLeft;
        scrollLeft = railCon.scrollLeft;
    };
    let stopDragging = function (event) {
        railCon.style.scrollBehavior = "smooth";
        mouseDown = false;
    };

    railCon.addEventListener("mousemove", (e) => {
        e.preventDefault();
        if (!mouseDown) {
            return;
        }
        const x = e.pageX - railCon.offsetLeft;
        const scroll = x - startX;
        railCon.scrollLeft = scrollLeft - scroll;
    });

    railCon.addEventListener("mousedown", startDragging, false);
    railCon.addEventListener("mouseup", stopDragging, false);
    railCon.addEventListener("mouseleave", stopDragging, false);

</script>
</html>









