{% load static %}

<div class="person-card">
    <div class="person-bg">
        <img class="person-img" src="{% static avatar %}" alt="">
        <div class="regular-text person-name">{{ name }}</div>
        <div class="regular-text person-position">{{ position }}</div>
        <div class="person-email">
            <img class="contact-image" src="{% static 'main/img/Mail.svg' %}" alt="">
            {% if not email %}
                <div class="regular-text">...</div>
            {% else %}
                <div class="regular-text">{{ email }}</div>
            {% endif %}
        </div>
        <div class="person-phone">
            <img class="contact-image" src="{% static 'main/img/BlackPhone.svg' %}" alt="">
            <div class="regular-text">{{ phone }}</div>
            <div class="regular-text person-code"> доб. {{ code }}</div>
        </div>
    </div>
</div>
