{% load static %}

<div class="direction-item">
    <div class="resource-title">
        <img class="resource-img" src="{% static image %}" alt="">
        <div class="regular-text direction-text">{{ name }}</div>
    </div>
    <a class="regular-text more-btn">Открыть</a>
</div>